body,html{margin: 0;padding: 0;background-color: #e0e7f1;}
body *{font-family: Calibri;}
.container{display: flex;width: 100vw;height: 100vh;align-items: center;padding: 0;margin: 0;}
.block_complete{display: inline-block;width: 100%;padding: 0;margin: 0;}
.ta_center{text-align: center;}
.form_container{background-color: #ffffff;padding: 10px;display: inline-block;width: 600px;;border-radius: 8px;}
.form_container .form_section{display: inline-block;width: 100%;padding: 10px 2%;box-sizing: border-box;}
.form_container .form_input{width: 90%;display: inline-block;outline: none;border: solid 1px #d8d8d8;min-height: 35px;font-size: 18px;border-radius: 8px;}
.form_container .form_input:focus{border: solid 1px #7ca3bd;}
.form_container #btn_submit{display: inline-block;padding: 10px;font-size: 18px;background-color: #4982a8;border: none;font-weight: 500;color: #fff;cursor: pointer;}
#adv_text{display: block;padding: 15px;border-radius: 8px;margin: 10px 0;width: 100%;box-sizing: border-box;color: #fff;}
.success_color{background-color: green;animation: show .5s forwards;}
.error_color{background-color: red;animation: show .5s forwards;}
@keyframes show{
0%{transform: scale(0);}
100%{transform: scale(1);}
}
.modal_container{position: fixed;display: none;background-color: #33333398;top:0;left: 0;width: 100vw;height: 100vh;}
.modal_container .modal{background-color: #fff;border-radius: 8px;padding: 15px;width: 500px;display: inline-block;}
.modal_container .modal .title{font-size: 18px;font-weight: 600;}
